
<div *ngFor="let rec of recipe.data">
    <h2>{{ rec.name }}</h2>
    <p> {{ rec.ingredientes }} </p>
    <p> {{ rec.process }} </p>
    <p> {{ rec.name_cat }} </p>
    <p> {{ rec.process }} </p>
    <p> {{ rec.date_creation }} </p>
    <p> {{ rec.process }} </p>
    <p> {{ rec.cost_approx | currency }} </p>
    <p> {{ rec.source}} </p>
    <p> {{ rec.comments  }} </p>
    <p> {{ rec.cost_approx  }} </p>
    <p> {{ rec.score  }} </p>
    <p> {{ rec.cost_approx }} </p>
    <p> {{ rec.author  }} </p>
</div>