<br><br>
<h3>Detalles de receta</h3>
<br>
<table class="table" >
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Ingredientes</th>
            <th scope="col">Procedimiento</th>
            <th scope="col">Categoria</th>
            <th scope="col">Fecha de creación</th>
            <th scope="col">Costo aprox.</th>
            <th scope="col">Calificacion</th>
            <th scope="col">Comentarios</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rec of recipe.data; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ rec.name }}</td>
            <td> <li *ngFor="let rec of rec.ingredients">{{ rec }}</li></td>
            <td>{{ rec.process }}</td>
            <td>{{ rec.name_cat }}</td>
            <td>{{ rec.date_creation | date  }}</td>
            <td>{{ rec.cost_approx | currency }}</td>
            <td> {{ rec.score }} </td>
            <td> <li *ngFor="let rec of rec.comments">{{ rec }}</li> </td>
        </tr>
    </tbody>
</table>
<br>
<button type="button" class="btn btn-outline-dark" [routerLink]="['/recipe']" >Regresar a recetas</button>
<br>